@model Bilheteira.Espetaculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Espetaculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elenco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elenco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEspetaculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEspetaculo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
